* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
}

.moon {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    z-index: 1000;
}

.moon:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

.forest {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}

.scene i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10%,
    90% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100px);
    }
}

.cloud1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 10000;
    animation: animateCloud 35s linear infinite;
}

.cloud2 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    z-index: 10000;
    animation: animateCloud 35s linear infinite;
}

.cloud3 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 10000;
    animation: animateCloud 80s linear infinite;
}

.cloud4 {
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 300px;
    z-index: 10000;
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;
}

.cloud5 {
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 500px;
    z-index: 10000;
    animation: animateCloud 40s linear infinite;
    animation-delay: -5s;
}

.cloud6 {
    position: absolute;
    top: 75px;
    left: 0;
    max-width: 400px;
    z-index: 10000;
    animation: animateCloud 30s linear infinite;
    animation-delay: -10s;
}

@keyframes animateCloud {
    0% {
        opacity: 0;
        transform: translateX(-100%) scale(1);
    }

    10%,
    90% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;

        overflow: hidden;
        transform: translateX(300%) scale(1.5);
    }
}

body {
    min-height: 100vh;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-container {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 600px;
    background-color: #000;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);
}





/* .img1{
    background-image: url(./img/@_rt_\ on\ Twitter.jpg);
  } */
/* img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-fit: contain; 
   */



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cards {
    width: 500px;
    height: 600px;
    background: #eee;
}

.header {
    width: 100%;
    height: 200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 60px;
}

.MonDay {
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.snow {
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.card-body {
    width: 100;
    height: calc(100% - 200px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.clock{
    position: absolute;
    top: 0;
    right: 80px;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    /* position: relative; */
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05),
                0 15px 15px rgba(255, 255, 255, 0.05),
                inset 0 -15px 15px rgba(255, 255, 255, 0.05)
}
.clock:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock .hour,
.clock .min,
.clock .sec
{
    position: absolute;
}
.clock .hour, .hr
{
    width: 160px;
    height: 160px;
}
.clock .min, .mn
{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc
{
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc
{
    /* 可以對子曾的絕對定位引響 */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
}
.hr:before
{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius:6px 6px 0 0;
}
.mn:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius:6px 6px 0 0;
}
.sc:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius:6px 6px 0 0;
}
/*# sourceMappingURL=cord.css.map */