

@mixin size($w, $h, $border:0) {
    width: $w;
    height: $h;
    border: $border;
}


@mixin flex($j, $a) {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin font($fz, $fw, $lh:normal, $ls:normal) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: normal;
}




